*.log
.gradle/
.idea/
.vs/
build/
Library/
Logs/
obj/
UserSettings/

# Project file excludes
*.csproj
*.csproj.meta
*.csproj.user
*.DotSettings
*.DotSettings.user
*.sln
*.suo

# Meta files for local project folders
**/Temp.meta
**/Temp/
Assets/EntityCache.meta
Assets/EntityCache/
Assets/Plugins/Editor.meta
Assets/Plugins/Editor/
